

.container h1, h2 a {
    font-family: industry, monospace;
    color: #FD9916;
}

.container h1 {
    text-align: center;
    margin-top: 100px;
}

.container h2 {
    color: #2662E3;
}

.container h3 {
    font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgb(0, 0, 0);
}

.container p {
    font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    line-height: 0.9em;
    color: rgb(0, 0, 0);
}

.center {
    text-align: center;
    font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 0.9em;
    color: rgb(0, 0, 0);
}


.container small {
    font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 0.6em;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

section::after, section::before {
    content: '';
    display: table;
    clear: both;
}

.grid-text {
    width: calc(60% - 40px);
}

.grid-img {
    width: calc(50% - 40px);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto; 
}

.flex > div {
    flex: 1 1 200px;
    margin: 5px;
}



section > div {
    margin: 0 20px;
    float: left;
}

section img {
    margin-top: 20px;
}



.img-right {
    text-align: right;
}

.pa-img{
    width: 20%;
    align-content: inline;
}

.container a {
    display: block;
    max-width: 120px;
    text-align: center;
    border: 2px solid;
    text-decoration: none;
    padding: 8px 20px 10px 20px;
    text-transform: uppercase;
    border-radius: 4px;
}

.container a:hover {
    background: #FD9916;
    color: white;
}

.contentBox {
    opacity: 1;
}