body {
    background: white;
    margin: 0px;
    padding: 0px;
}

body, ul {
    margin: 0px;
    padding: 0px;
}

/* MENU */

a {
    color: white;
    text-decoration: none;
    font-family: "Quicksand";
    font-size: 1.5em;
    font-weight: bold;
}
 
#menu a:hover {
    font-size: 1.8em;
    border-bottom: solid 2px #FD9916;
}

#logo {
    font-family: "Acme";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header {
    box-sizing: border-box;
    max-height: 80px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0091ff;
    /**box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
    position: fixed;**/
    width: 100%;
    overflow: visible;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding: 2rem;
    background: linear-gradient(#34A0ED ,#2662E3 35%);
    border-top: solid 5px #FD9916;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4); 
}

.footer > div:nth-child(2) {
    padding-top: 1%;
}

.ft-content {
    width: 70%;
    margin: 0 auto;
}

.ft-flex {
    display: flex;
    flex-direction: column;
}

.ft-row {
    display: flex;
    flex-direction: row;
}

.ft-icon {
    width: 7%;
    padding-bottom: 5%;
}

.ft-content-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ft-content-logo div:nth-child(1) {
    padding-top: 2%;
    width: 30%;
}

.ft-content-logo div:nth-child(2) {
    padding-top: 2%;
    width: 40%;
}

.ft-content h1 {
    color: rgb(255, 255, 255);
    font-family: "Monofur", serif;
    font-size: 2.5em;
}

.ft-content a {
    padding-left: 2%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Monofur", serif;
    font-size: 1.5em;
    font-weight: lighter;
}

@media (max-width: 810px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0;
        background: #0065B3;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        display: block;
        z-index: 1000;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0px 1rem;
        border-bottom: 2px solid #FD9916;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #FD9916;
    }
    #btn {
        width: 20px;
        border-top: 2px solid;
        display: block;
    }
    #btn::after, #btn::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #btn {
        border-top-color: transparent;
    }
    #nav.active #btn::before {
        transform: rotate(135deg);
    }
    #nav.active #btn::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .ft-content {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
    }

    .footer > div:nth-child(2) {
        padding-left: 10%;
    }

    .ft-content div:nth-child(1) {
        padding-top: 2%;
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
    
    .ft-content div:nth-child(2) {
        padding-top: 2%;
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
    .ft-content h1 {
        color: rgb(255, 255, 255);
        font-family: "Monofur", serif;
        font-size: 1.3em;

    }
    
    .ft-content a {
        padding-top: 2%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Monofur", serif;
        font-weight: lighter;
        font-size: 1.0em;

    }
}