<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/idea/logo2.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=QuickSand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../css/ca-style.css">
    <link rel="stylesheet" href="../css/slide.css">
    <link rel="stylesheet" href="../css/title.css">
    <link rel="stylesheet" href="../css/ca-content.css">
    <title>Idea-Education - Cloud Architecture</title>
</head>
<body>
    <header id="nav-bar">
        <div id="idea-logo">
            <a href="../index.html"><img src="../assets/idea/logo4.png" alt=""></a>
        </div>
        <div>
            <nav class="menu" id="nav">
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                    <span id="btn"></span>
                </button>
                <ul id="menu" role="menu">
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#modulos">Módulos</a></li>
                    <li><a href="#objetivos">Objetivos</a></li>
                </ul>
            </nav>
        </div>
        <div id="decalc">
            <img src="../assets/idea/decalcs.png" alt="">
        </div>
    </header>

    <div class="banner">
        <div>
            <p class="title">Cloud-Architecture</p>
            <small>O curso Cloud Computing Architecture (Arquitetura da computação em nuvem) da AWS Academy foi criado para ajudar os estudantes a desenvolverem conhecimento técnico em computação em nuvem e prepará-los para o exame de certificação AWS Certified Solutions Architect – Associate. O curso é oferecido por meio de aulas acompanhadas por instrutores, laboratórios práticos e projetos. Os alunos têm acesso aos manuais do curso, às avaliações de conhecimento online, aos laboratórios práticos, a um exame de certificação simulado gratuito e a um cupom de desconto para o exame de certificação.</small>
        </div>
        <div class="head-img">
            <img src="../assets/img/asset-03.png" alt="">
        </div>
    </div>

    <div class="btn-insc-content">
        <button id="btn-insc">
            Fazer inscrição!
        </button>
    </div>

    <!--<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="53642e7d-b57f-404a-baed-65362f29f330" data-share-badge-host="https://www.credly.com"></div>
    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

    <a href="https://www.credly.com/badges/53642e7d-b57f-404a-baed-65362f29f330/public_url"></a>-->
   
    <div class="container">

        <section id="sobre">
            <div class="sec1">
                <h1>Sobre</h1>
                <p>O curso Cloud Computing Architecture (Arquitetura da computação em nuvem) requer uma base forte em conceitos e habilidades em TI. Para saber mais detalhes sobre os pré-requisitos do currículo, leia Cloud Computing Architecture: Student Prerequisites.</p>
                <h3>Duração:</h3>
                <p>60 horas. O curso Cloud Computing Architecture (Arquitetura da computação em nuvem) foi criado para ser ministrado ao longo de um semestre com um período mínimo de ensino de 6 semanas.</p>
                    <br>
                <div class="sub-sec">
                    <h2>A maneira como o currículo é oferecido combina:</h2>
                    <ul>
                        <li>Treinamento online com instrutor</li>
                        <li>Laboratórios práticos</li>
                    </ul>
                </div>
                <br>
                <div class="sub-sec">
                    <h2>O progresso do aluno será avaliado com:</h2>
                    <ul>
                        <li>Avaliações de conhecimento – 20 avaliações de conhecimento online ao longo do curso</li>
                        <li>Laboratórios práticos – 15 laboratórios online ao longo do curso</li>
                        <li>Discussões em grupo</li>
                        <li>Projetos – exercícios baseados em cenários que consistem em tarefas escritas e em laboratório para reforçar os tópicos do currículo</li>
                    </ul>
                </div>
            </div>
        </section>

        <hr>

        <section id="modulos">
            <h1 class="modulos">Módulos</h1>
            <div class="flex-row">
                <div>
                    <h1>Unidade 1</h1>
                    <p>Introdução à computação em nuvem</p>
                </div>
                <div>
                    <h1>Unidade 2</h1>
                    <p>Conceitos básicos da AWS</p>
                </div>
                <div>
                    <h1>Unidade 3</h1>
                    <p>Arquitetura na AWS</p>
                </div>
            </div>
            <br>
            <div class="sec1">
                <div class="flex">
                    <div class="sub-part">
                        <div>
                            <h1>Parte 1</h1>
                            <h2>Introdução à computação em nuvem</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Revisão dos AWS Essentials</li>
                                <li>Como criar seu ambiente</li>
                                <li>Design do sistema para alta disponibilidade (Parte I e II)</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2</h1>
                            <h2>Arquiteturas de automação e sem servidor</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Escalabilidade orientada a eventos</li>
                                <li>Automação de sua infraestrutura</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Projeto</h1>
                            <h2>Projeto de meio semestre</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Como desacoplar sua infraestrutura</li>
                                <li>Como projetar armazenamento de escala na Web</li>
                                <li>Introdução à Amazon Virtual Private Cloud (VPC)</li>
                                <li>Introdução ao Amazon Simple Storage Service (S3)</li>
                                <li>Introdução ao Amazon Elastic Block Store (EBS)</li>
                                <li>Introdução ao Amazon CloudFront</li>
                                <li>Hospede um site estático</li>
                                <li>Armazenar e recuperar um arquivo</li>
                                <li>Passo a passo da ferramenta bem arquitetada</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 3</h1>
                            <h2>Melhores práticas de Well-Architected</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Introdução ao Well-Architected Framework</li>
                                <li>Pilar do Well-Architected 1: segurança</li>
                                <li>Pilar do Well-Architected 2: confiabilidade</li>
                                <li>Pilar do Well-Architected 3: eficiência de performance</li>
                                <li>Pilar do Well-Architected 4: otimização de custos</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 4</h1>
                            <h2>Implantação e implementação</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Solução de problemas</li>
                                <li>Padrões de design e amostra de arquiteturas</li>
                                <li>Projeto final</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="objetivos">
            <div class="sec1">
                <h1>Objetivos</h1>
                    <div class="sub-part">
                        <div></div>
                        <div class="obj">
                            <ul>
                                <li>Identificar o valor e os benefícios da computação em nuvem e da AWS</li>
                                <li>Compreender os métodos e as ferramentas para manter a segurança e proteger os dados</li>
                                <li>Explicar as vantagens financeiras da nuvem AWS</li>
                                <li>Navegar na Console de Gerenciamento da AWS</li>
                                <li>Diferenciar as opções de armazenamento da AWS</li>
                                <li>Compreender as opções de computação e rede na AWS</li>
                                <li>Descrever e usar opções de banco de dados da AWS</li>
                                <li>Identificar opções de implantação e gerenciamento</li>
                                <li>Tomar decisões considerando os princípios e as melhores práticas de arquitetura</li>
                                <li>Criar um roteiro e um plano de migração para a nuvem</li>
                                <li>Usar a AWS para tornar a infraestrutura escalável</li>
                                <li>Criar um plano de continuidade de negócios e alcançar alta disponibilidade</li>
                                <li>Criar escalabilidade orientada a eventos</li>
                                <li>Automatizar a implantação de recursos em nuvem</li>
                                <li>Projetar arquiteturas para desacoplar a infraestrutura e reduzir interdependências</li>
                                <li>Otimizar armazenamento físico de dados para conteúdo estático</li>
                                <li>Identificar as melhores práticas determinadas no Well-Architected Framework</li>
                                <li>Identificar e solucionar problemas comuns de configuração e design</li>
                                <li>Diferenciar arquiteturas para processamento e análise de dados, back-ends móveis e transcodificação de vídeo</li>
                                <li>Compreender a estrutura e as perguntas do exame AWS Certified Solutions Architect – Associate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer">
            <div class="ft-content">
                <h1>Contate-nos</h1>
            </div>
            <a href="https://instagram.com/ideaeducationcom?utm_medium=copy_link">@ideaeducationcom&#9662</a>
            <a href="mailto:luiz.filho@idea-education.com">luiz.filho@idea-education.com&#9662</a>
            <div class="ft-icons">
                <img class="aws-icon" src="../assets/aws/logo-aws.png" alt="">
                <img class="idea-icon" src="../assets/idea/logo2.png" alt="">
            </div>
            <small>Copyright©2021-2022, Idea-Education & Amazon AWS-Academy. Todos os direitos reservados.</small>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript" src="../js/title.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script async src="https://assets.locaweb.com.br/cliclead/javascript/widget.min.js" widget-customer-id="cd80a84e-631a-482a-9523-e6c183eab80e"></script>

</body>
</html>