<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/idea/logo2.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=QuickSand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../css/ml-style.css">
    <link rel="stylesheet" href="../css/slide.css">
    <link rel="stylesheet" href="../css/title.css">
    <link rel="stylesheet" href="../css/ml-content.css">
    <title>Idea-Education - Machine Learning</title>
</head>
<body>
    <header id="nav-bar">
        <div id="idea-logo">
            <a href="../index.html"><img src="../assets/idea/logo4.png" alt=""></a>
        </div>
        <div>
            <nav class="menu" id="nav">
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                    <span id="btn"></span>
                </button>
                <ul id="menu" role="menu">
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#modulos">Módulos</a></li>
                    <li><a href="#objetivos">Conteúdos Adicionais</a></li>
                </ul>
            </nav>
        </div>
        <div id="decalc">
            <img src="../assets/idea/decalcs.png" alt="">
        </div>
    </header>

    <div class="banner">
        <div>
            <p class="title">Machine Learning</p>
            <small>Cientistas de dados e desenvolvedores podem aprender a integrar aprendizado de máquina (ML) e inteligência artificial (IA) em aplicativos. Você também aprenderá as ferramentas
                e técnicas para plataforma de dados e ciência de dados para criar aplicativos de ML. Este guia também pode ajudar a prepará-lo para o AWS Certified Machine Learning
                – Exame de certificação de especialidade.</small>
        </div>
        <div class="head-img">
            <img src="../assets/img/asset-04.png" alt="">
        </div>
    </div>

    <!--<div class="btn-insc-content">
        <button id="btn-insc">
            Fazer inscrição!
        </button>
    </div>-->

    <!--<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="53642e7d-b57f-404a-baed-65362f29f330" data-share-badge-host="https://www.credly.com"></div>
    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

    <a href="https://www.credly.com/badges/53642e7d-b57f-404a-baed-65362f29f330/public_url"></a>-->
   
    <div class="container">

        <section id="sobre">
            <div class="sec1">
                <h1>Sobre</h1>
                <p>Este curso introdutório apresenta aos alunos os conceitos e a terminologia de inteligência artificial (IA) e machine learning (ML). Ao final deste curso, os alunos poderão selecionar e aplicar serviços de ML para resolver problemas de negócios. Eles também poderão rotular, criar, treinar e implantar um modelo de ML personalizado.</p>
                <h3>Duração:</h3>
                <p>Este curso tem aproximadamente 20 horas de conteúdo entregue por meio de palestras, laboratórios práticos e trabalho em projetos.</p>
                    <br>
                <div class="sub-sec">
                    <h2>A maneira como o currículo é oferecido combina:</h2>
                    <ul>
                        <li>Treinamento online com instrutor</li>
                        <li>Laboratórios práticos</li>
                    </ul>
                </div>
                <br>
                <div class="sub-sec">
                    <h2>Recursos de aprendizagem:</h2>
                    <ul>
                        <li>Materiais da aula</li>
                        <li>Verificações de conhecimento online de múltipla escolha</li>
                        <li>Exercícios de laboratório</li>
                        <li>Treinamento digital (opcional)</li>
                        <li>Apresentações em vídeo</li>
                        <li>Demonstrações em vídeo</li>
                        <li>Exemplos de soluções</li>
                    </ul>
                </div>
            </div>
        </section>

        <hr>

        <section id="modulos">
            <div class="sec1">
                <h1>Módulos</h1>
                <div class="flex">
                    <div class="sub-part">
                        <div>
                            <h1>Parte 1</h1>
                            <h2>Aprenda os fundamentos do AWS Machine Learning (ML)</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Desmistificando IA/ML/DL</li>
                                <li>Fundamentos de aprendizado de máquina para tomadores de decisão comerciais e técnicos</li>
                                <li>Desafios de aprendizado de máquina para negócios</li>
                                <li>Blocos de construção de ML: serviços e terminologia</li>
                                <li>Modelo de processo: CRISP-DM no AWS Stack</li>
                                <li>Terminologia e processo de aprendizado de máquina</li>
                                <li>Aprendizado de máquina da AWS</li>
                                <li>Explorando o conjunto de ferramentas de aprendizado de máquina</li>
                                <li>Os elementos da ciência de dados</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2.1</h1>
                            <h2>Aprenda engenharia de plataforma de dados na AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Segurança de aprendizado de máquina</li>
                                <li>Construindo Data Lakes na AWS</li>
                                <li>Big Data na AWS</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2.2</h1>
                            <h2>Aprenda ciência de dados na AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Matemática para aprendizado de máquina</li>
                                <li>Desenvolvendo aplicativos de aprendizado de máquina</li>
                                <li>O pipeline de aprendizado de máquina na AWS</li>
                                <li>Aprendizado profundo na AWS</li>
                                <li>Amazon SageMaker: crie um modelo de detecção de objetos usando imagens rotuladas com Ground Truth</li>
                                <li>Dados tabulares acelerados da Machine Learning University (MLU)</li>
                                <li>Processamento de linguagem natural acelerado da Machine Learning University (MLU)</li>
                                <li>Visão computacional acelerada da Machine Learning University (MLU)</li>
                                <li>Série de aprofundamento técnico do Amazon SageMaker</li>
                                <li>Data Science on AWS Workshop Mais de 4 horas de Workshop</li>
                                <li>Base da ciência de dados: decisões de aprendizado de máquina do mundo real</li>
                                <li>Especialização Prática em Data Science</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2.3</h1>
                            <h2>Aprenda engenharia de ML na AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Ciência de dados prática com o Amazon SageMaker</li>
                                <li>Engenharia DevOps na AWS</li>
                                <li>Engenharia de MLOps na AWS</li>
                                <li>Operacionalizando o pipeline de aprendizado de máquina</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2.4</h1>
                            <h2>Aprenda a construir aplicativos de ML na AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Amazon SageMaker: simplificando o desenvolvimento de aplicativos de ML</li>
                                <li>Melhore seu código Java usando o Amazon CodeGuru</li>
                                <li>Melhore seu código Python usando o Amazon CodeGuru</li>
                                <li>Melhore seu código Java usando o Amazon CodeGuru</li>
                                <li>Melhore seu código Python usando o Amazon CodeGuru</li>
                                <li>Melhore seu código Java usando o Amazon CodeGuru</li>
                                <li>Melhore seu código Python usando o Amazon CodeGuru</li>
                                <li>Detecção de fraude usando aprendizado de máquina</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 3</h1>
                            <h2>Prepare-se e faça o exame de certificação AWS Certified Machine Learning - Specialty</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Prontidão para exames: AWS Certified Machine Learning – Especialidade</li>
                                <li>AWS Certified Machine Learning – Guia do exame de especialidade</li>
                                <li>Aprendizado de máquina certificado pela AWS – exemplos de perguntas especiais</li>
                                <li>AWS Certified Machine Learning – exame de especialidade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="objetivos">
            <div class="sec1">
                <h1>Conteúdos Adicionais</h1>
                    <div class="sub-part">
                        <div></div>
                        <div>
                            <ul>
                                <li>Práticas recomendadas de arquitetura para aprendizado de máquina</li>
                                <li>Aprenda a criar, treinar e implantar máquinas de maneira rápida e fácil modelos de aprendizagem em qualquer escala.</li>
                                <li>Biblioteca de Aprendizagem</li>
                                <li>Continue aprendendo explorando nosso extenso portfólio de produtos digitais gratuitos treinamento e treinamento em sala de aula.</li>
                                <li>Filtre de acordo com suas preferências, ou encontre um curso específico usando a caixa “Pesquisar”.</li>
                                <li>Whitepapers e guias da AWS</li>
                                <li>Explore whitepapers técnicos, guias técnicos, material de referência, e diagramas de arquitetura de referência, todos de autoria da AWS e do comunidade AWS.</li>
                                <li>Grupo de usuários da AWS Junte-se e conecte-se com usuários da AWS em todo o mundo para compartilhar ideias e aprender.</li>
                                <li>Eventos e webinars da AWS Conecte-se, colabore e aprenda com especialistas da AWS. Chave eventos incluem AWS.</li>
                                <li>AWS Podcast Ouça e aprenda sobre a AWS.</li>
                                <li>Blog da AWS Leia sobre os últimos lançamentos do evangelista técnico da AWS Jeff Barr e outros.</li>
                                <li>Documentação da AWS</li>
                                <li>Pesquise guias de serviço da AWS, referências de API, tutoriais, projetos, SDKs, e kits de ferramentas.</li>
                                <li>Centro de conhecimento da AWS</li>
                                <li>Revise as respostas do AWS Support aos clientes da AWS com mais frequência fez perguntas.</li>
                                <li>Perguntas frequentes da AWS</li>
                                <li>Encontre respostas para produtos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer">
            <div class="ft-content">
                <h1>Contate-nos</h1>
            </div>
            <a href="https://instagram.com/ideaeducationcom?utm_medium=copy_link">@ideaeducationcom&#9662</a>
            <a href="mailto:luiz.filho@idea-education.com">luiz.filho@idea-education.com&#9662</a>
            <div class="ft-icons">
                <img class="aws-icon" src="../assets/aws/logo-aws.png" alt="">
                <img class="idea-icon" src="../assets/idea/logo2.png" alt="">
            </div>
            <small>Copyright©2021-2022, Idea-Education & Amazon AWS-Academy. Todos os direitos reservados.</small>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript" src="../js/title.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script async src="https://assets.locaweb.com.br/cliclead/javascript/widget.min.js" widget-customer-id="cd80a84e-631a-482a-9523-e6c183eab80e"></script>

</body>
</html>