<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/idea/logo2.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong&effect=neon|outline|emboss|shadow-multiple">
    <link rel="stylesheet" href="../css/ml-style.css">
    <link rel="stylesheet" href="../css/slide.css">
    <link rel="stylesheet" href="../css/title.css">
    <link rel="stylesheet" href="../css/ml-content.css">
    <title>Idea-Education - Machine Learning</title>
</head>
<body>
    <header id="header">
        <a href="../index.html" id="logo" class="font-effect-shadow-multiple">Idea-Education</a>
        <nav class="menu" id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="btn"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#modulos">Módulos</a></li>
                <li><a href="#objetivos">Objetivos</a></li>
            </ul>
        </nav>
    </header>

    <div class="banner">
        <div>
            <p class="title">Machine Learning</p>
            <small>Cientistas de dados e desenvolvedores podem aprender a integrar aprendizado de máquina (ML) e inteligência artificial (IA) em aplicativos. Você também aprenderá as ferramentas
                e técnicas para plataforma de dados e ciência de dados para criar aplicativos de ML. Este guia também pode ajudar a prepará-lo para o AWS Certified Machine Learning
                – Exame de certificação de especialidade.</small>
        </div>
        <div class="head-img">
            <img src="../assets/img/asset-04.png" alt="">
        </div>
    </div>

    <!--<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="53642e7d-b57f-404a-baed-65362f29f330" data-share-badge-host="https://www.credly.com"></div>
    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

    <a href="https://www.credly.com/badges/53642e7d-b57f-404a-baed-65362f29f330/public_url"></a>-->
   
    <div class="container">

        <section id="sobre">
            <div class="sec1">
                <h1>Sobre</h1>
                <p>Este curso introdutório apresenta aos alunos os conceitos e a terminologia de inteligência artificial (IA) e machine learning (ML). Ao final deste curso, os alunos poderão selecionar e aplicar serviços de ML para resolver problemas de negócios. Eles também poderão rotular, criar, treinar e implantar um modelo de ML personalizado.</p>
                <h3>Duração:</h3>
                <p>Este curso tem aproximadamente 20 horas de conteúdo entregue por meio de palestras, laboratórios práticos e trabalho em projetos.</p>
                    <br>
                <div class="sub-sec">
                    <h2>A maneira como o currículo é oferecido combina:</h2>
                    <ul>
                        <li>Treinamento online com instrutor</li>
                        <li>Laboratórios práticos</li>
                    </ul>
                </div>
                <br>
                <div class="sub-sec">
                    <h2>Recursos de aprendizagem:</h2>
                    <ul>
                        <li>Materiais da aula</li>
                        <li>Verificações de conhecimento online de múltipla escolha</li>
                        <li>Exercícios de laboratório</li>
                        <li>Treinamento digital (opcional)</li>
                        <li>Apresentações em vídeo</li>
                        <li>Demonstrações em vídeo</li>
                        <li>Exemplos de soluções</li>
                    </ul>
                </div>
            </div>
        </section>

        <hr>

        <section id="modulos">
            <div class="sec1">
                <h1>Módulos</h1>
                <div class="flex">
                    <div class="sub-part">
                        <div>
                            <h1>Parte 1</h1>
                            <h2>Aprenda os fundamentos da Nuvem AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>O que é computação em nuvem?</li>
                                <li>O que é AWS?</li>
                                <li>Tipos de Computação em Nuvem</li>
                                <li>Computação em nuvem com AWS</li>
                                <li>Visão geral dos fundamentos da AWS</li>
                                <li>Conceitos principais da AWS Fundamentals</li>
                                <li>Visão geral da AWS</li>
                                <li>Infraestrutura global da AWS</li>
                                <li>Glossário da AWS</li>
                                <li>Funções de trabalho na nuvem</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 2</h1>
                            <h2>Aprofunde-se nos fundamentos da Nuvem AWS, incluindo preços e suporte da AWS e serviço principal da AWS</h2>
                        </div>
                        <div>
                            <ul>
                                <li>AWS Cloud Practitioner Essentials</li>
                                <li>AWS Cloud Practitioner Essentials (Classroom)</li>
                                <li>AWS Cloud Security</li>
                                <li>Modelo de Responsabilidade Compartilhada</li>
                                <li>Preços da AWS</li>
                                <li>Como funciona a definição de preço da AWS</li>
                                <li>Compare os planos do AWS Support</li>
                                <li>Primeiros passos com o Cloud Acquisition</li>
                                <li>AWS bem arquitetado</li>
                                <li>Fundamentos da AWS: Introdução ao AWS Cloud Essentials</li>
                                <li>Fundamentos da AWS: protegendo sua Nuvem AWS</li>
                                <li>Visão geral dos serviços de computação da AWS</li>
                                <li>Amazon Simple Storage Service (S3)</li>
                                <li>Conceitos básicos do Amazon Simple Storage Service (Amazon S3)</li>
                                <li>Bancos de dados da AWS – a ferramenta certa, para o trabalho certo</li>
                                <li>Introdução ao serviço Amazon RDS</li>
                                <li>Introdução à Amazon Virtual Private Cloud (VPC)</li>
                                <li>Introdução ao gerenciamento de identidade e acesso (IAM)</li>
                                <li>Introdução às Organizações</li>
                                <li>Introdução ao AWS Auto Scaling</li>
                                <li>Introdução ao Amazon Elastic Load Balancer - Aplicativo</li>
                                <li>Introdução aos contêineres</li>
                                <li>Hospedagem de aplicativos web na Nuvem AWS</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 3</h1>
                            <h2>Obter experiência com laboratórios autoguiados</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Introdução ao AWS Identity and Access Management (IAM)</li>
                                <li>Introdução ao Amazon EC2</li>
                                <li>Introdução à Amazon Virtual Private Cloud (VPC)</li>
                                <li>Introdução ao Amazon Simple Storage Service (S3)</li>
                                <li>Introdução ao Amazon Elastic Block Store (EBS)</li>
                                <li>Introdução ao Amazon CloudFront</li>
                                <li>Hospede um site estático</li>
                                <li>Armazenar e recuperar um arquivo</li>
                                <li>Passo a passo da ferramenta bem arquitetada</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="sub-part">
                        <div>
                            <h1>Parte 4</h1>
                            <h2>Obtenha a certificação: prepare-se e faça o exame de certificação AWS Certified Cloud Practitioner</h2>
                        </div>
                        <div>
                            <ul>
                                <li>Exame AWS Certified Cloud Practitioner</li>
                                <li>Exemplos de perguntas do AWS Certified Cloud Practitioner</li>
                                <li>Exame AWS Certified Cloud Practitioner</li>
                                <li>Biblioteca de Aprendizagem</li>
                                <li>Whitepapers e guias da AWS</li>
                                <li>Grupo de usuários da AWS</li>
                                <li>Eventos e webinars da AWS</li>
                                <li>AWS Podcast</li>
                                <li>Blog da AWS</li>
                                <li>Documentação da AWS</li>
                                <li>Centro de conhecimento da AWS</li>
                                <li>Perguntas frequentes da AWS</li>
                                <li>Tutoriais práticos da AWS</li>
                                <li>Biblioteca de soluções da AWS</li>
                                <li>Canal do YouTube da AWS</li>
                                <li>Feedback do Guia de ramp-up da AWS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="objetivos">
            <div class="sec1">
                <h1>Objetivos</h1>
                    <div class="sub-part">
                        <div></div>
                        <div>
                            <ul>
                                <li>Descreva as seis vantagens da computação em nuvem</li>
                                <li>Descrever três modelos de implantação de nuvem</li>
                                <li>Use o AWS Cloud Adoption Framework para ajudar as organizações a transformar a maneira como trabalham</li>
                                <li>Entenda a filosofia de preços da AWS</li>
                                <li>Revise as características fundamentais de preços</li>
                                <li>Entenda os elementos do Custo Total de Propriedade</li>
                                <li>Entenda a diferença entre regiões da AWS, zonas de disponibilidade e pontos de presença</li>
                                <li>Entenda os diferentes serviços de computação da AWS</li>
                                <li>Descrever o Amazon Elastic Compute Cloud</li>
                                <li>Explique o AWS Lambda, que é computação sem servidor</li>
                                <li>Descrever o AWS Elastic Beanstalk</li>
                                <li>Discutir serviços de armazenamento, incluindo Amazon EBS, Amazon S3, Amazon EFS e Amazon Glacier</li>
                                <li>Descrever casos de uso para opções de armazenamento, juntamente com uma demonstração do Amazon Glacier</li>
                                <li>Entenda os preços de armazenamento</li>
                                <li>Entenda a rede virtual na nuvem com o Amazon VPC</li>
                                <li>Crie firewalls virtuais com grupos de segurança</li>
                                <li>Entrega segura de dados, vídeos, aplicativos e APIs com o Amazon CloudFront</li>
                                <li>Fornecer uma visão geral dos diferentes serviços de banco de dados na nuvem</li>
                                <li>Destaque as diferenças entre soluções de banco de dados gerenciadas e não gerenciadas</li>
                                <li>Diferenciar entre linguagem de consulta estruturada e bancos de dados NoSQL</li>
                                <li>Revise as diferenças de disponibilidade de soluções alternativas de banco de dados</li>
                                <li>Saiba como distribuir tráfego entre instâncias do Amazon EC2 usando o Elastic Load Balancing</li>
                                <li>Descubra a capacidade do Auto Scaling de iniciar servidores em resposta a mudanças na carga de trabalho</li>
                                <li>Use o CloudWatch para monitorar recursos e aplicativos da AWS em tempo real</li>
                                <li>Descrever o modelo de responsabilidade compartilhada da AWS</li>
                                <li>Examinar usuários, grupos e funções do IAM</li>
                                <li>Descrever diferentes tipos de credenciais de segurança</li>
                                <li>Revise as verificações do AWS Trusted Advisor</li>
                                <li>Discutir a conformidade de segurança</li>
                                <li>Entenda as práticas recomendadas no primeiro dia com uma nova conta da AWS</li>
                                <li>Explore os pilares bem arquitetados e os princípios de design</li>
                                <li>Entenda a alta disponibilidade e confiabilidade</li>
                                <li>Descrever o impacto nos negócios das decisões de design</li>
                                <li>Descrever como configurar uma estrutura organizacional para simplificar o faturamento e a visibilidade da conta</li>
                                <li>Identificar opções e recursos de suporte alternativos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer">
            <div class="ft-content">
                <h1>Contate-nos</h1>
            </div>
            <a href="https://instagram.com/ideaeducationcom?utm_medium=copy_link">@ideaeducationcom&#9662</a>
            <a href="mailto:luiz.filho@idea-education.com">luiz.filho@idea-education.com&#9662</a>
            <div class="ft-icons">
                <img class="aws-icon" src="../assets/aws/logo-aws.png" alt="">
                <img class="idea-icon" src="../assets/idea/logo2.png" alt="">
            </div>
            <small>Copyright©2021-2022, Idea-Education & Amazon AWS-Academy. Todos os direitos reservados.</small>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript" src="../js/title.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>

</body>
</html>